@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Alexander Egeberg site</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to my kanban board website</h2>
        <p>
            Under each site you can edit all boards/userstories or view the individual ones
        </p>
    </div>
    <div class="col-md-4">
        <h2>Click the Board to see all current boards</h2>
    </div>
    <div class="col-md-4">
        <h2>Click the Userstory tab to see all userstories</h2>
    </div>
</div>